---
title: >-
  Verified Locations for NYC City-Funded Social Service Contracts (Address
  Verification)
created: '2020-11-10T17:06:05.198081'
modified: '2020-11-10T17:06:05.198091'
state: active
type: dataset
tags:
  - Geographic
  - Health And Human Services
  - Location
groups:
  - Local Government
csv_url: 'https://data.cityofnewyork.us/api/views/xaa3-fatk/rows.csv?accessType=DOWNLOAD'
json_url: >-
  https://data.cityofnewyork.us/api/views/xaa3-fatk/rows.json?accessType=DOWNLOAD
layout: post
postman_collection_url: >-
  https://thedaydasource.postman.co/workspace/City-of New
  York~3b6f7a46-5db5-42b1-80fe-9fbef41e3e06/collection/63a7b9e1-2617-40de-ab52-80017e07174b
---
An agency-verified dataset of City-funded contracted social service provision locations.
This is part of the <a <a href='https://data.cityofnewyork.us/browse?Data-Collection_Data-Collection=Verified+Locations+for+NYC+City-Funded+Social+Service+Contracts'>Verified Locations for NYC City-Funded Social Service Contracts collection</a>.
